<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoto.iqms.businessconfig.persistence.inf.SysOrgExtendMapper">
    
    <!-- 查询输出结果 -->
    <resultMap id="SysOrgExtendMap" type="map" >
	    <result column="orgId" property="orgId" javaType="String" jdbcType="VARCHAR" />
	    <result column="deviceNo" property="deviceNo" javaType="String" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 查询输出结果 -->
    <resultMap id="selectOrgMap" type="map" >
	    <result column="org_id" property="orgId" javaType="String" jdbcType="VARCHAR" />
	    <result column="org_name" property="orgName" javaType="String" jdbcType="VARCHAR" />
	    <result column="org_code" property="orgCode" javaType="String" jdbcType="VARCHAR" />
	</resultMap>
	  
  <!--调用存储过程进行分页查询--> 
  <select id="callDeleteOrgExtend" parameterType="map" statementType="CALLABLE">
  	 {call proc_sysorgextend_delete(
  	 		#{orgId,jdbcType=VARCHAR,mode=IN},
	  	  	#{ReturnCode,jdbcType=VARCHAR,mode=OUT}
	    )
	  }  
  </select>
  <!-- 根据orgId 查询机构号吗 -->
  <select id="findOrgByOrgId" parameterType="map" resultMap="selectOrgMap">
	select t.org_id,
		  t.org_name,
		  t.org_code 
	  from sys_org t 
	  where to_char(t.org_id) =#{orgId,jdbcType=VARCHAR}
  </select>
  
</mapper>