<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 	 	
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
  <display-name>framework</display-name>
  
  <welcome-file-list>
    <welcome-file>/login</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-context.xml</param-value>
  </context-param>
  
  <context-param>
    <param-name>weblogic.httpd.inputCharset./*</param-name>
    <param-value>UTF-8</param-value>
  </context-param>
  <filter>
    <filter-name>validateCodeFilter</filter-name>
    <filter-class>com.aoto.iqms.basicconfig.web.filter.ValidateCodeFilter</filter-class>
    <init-param>
      <param-name>isVaidateCode</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>validateCodeFilter</filter-name>
    <url-pattern>/j_spring_security_check</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DrawImage</display-name>
    <servlet-name>DrawImage</servlet-name>
    <servlet-class>com.aoto.iqms.servlet.DrawImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/DrawImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/login/DrawImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <servlet-name>springmvc</servlet-name>
  </filter-mapping>
  
  <filter>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hiddenHttpMethodFilter</filter-name>
    <servlet-name>springmvc</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <servlet-name>springmvc</servlet-name>
  </filter-mapping>
  
   <!-- 增加过滤器，过滤特殊字符  by tianjm 20181109-->
    <filter>
	  <filter-name>CharacterFilter</filter-name>
	  <filter-class>com.aoto.iqms.basicconfig.web.filter.CharacterFilter</filter-class>
	</filter>
	 <filter-mapping>
		  <filter-name>CharacterFilter</filter-name>
		  <url-pattern>/*</url-pattern>
	 </filter-mapping>
	 
	 <!-- 过滤器，拦截非法host头攻击  tianjm 20181114-->
   <filter>
    <filter-name>IllegalCharacterFilter</filter-name>
    <filter-class>com.aoto.iqms.basicconfig.web.filter.IllegalCharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IllegalCharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <listener>
    <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
  </listener> 
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <error-page>
	<error-code>404</error-code>
	<location>/404error.jsp</location>
  </error-page>
  <error-page>
	<error-code>500</error-code>
	<location>/404error.jsp</location>
  </error-page>
  
</web-app>