<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoto.iqms.monitor.persistence.inf.SqlSelectMapper">
    
     <resultMap id="sqlSelectPage" type="map" >
	    <result column="ORG_ID" property="orgId" javaType="String" jdbcType="VARCHAR" /> 
	 </resultMap>
	 
  <!--调用存储过程进行分页查询--> 
  <select id="callPageSqlSelect" parameterType="map" statementType="CALLABLE">
  	 {call proc_sqlselect(
  	 		#{sqlInfo,jdbcType=VARCHAR,mode=IN},
	  	  	#{pageSize,jdbcType=NUMERIC,mode=IN},
	  	  	#{pageIndex,jdbcType=NUMERIC,mode=IN},
	  	  	#{totalrows,jdbcType=NUMERIC,mode=OUT},
	  	  	#{pageDatas,jdbcType=CURSOR,mode=OUT,javaType=ResultSet, resultMap=sqlSelectPage}
	    )
	  }  
  </select>
  
</mapper>